.btn-div {
    border: 4px solid gray;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

.input-div {
    border: 2px solid green;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.input-div span {
    font-size: 30px;
    font-weight: 500;
}

.btn {
    background-color: greenyellow;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.btn:active {
    background-color: rgb(56, 70, 35);
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-reset {
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-reset:active {
    background-color: rgb(110, 65, 65);
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}